################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestNonPublicStaticOrInstanceMethod
/TestNonPublicStaticOrInstanceMethod/bin/Debug/net6.0
/TestNonPublicStaticOrInstanceMethod/obj
/TestNonPublicStaticOrInstanceMethod.v3.ncrunchsolution.user
